html, body {
  background: linear-gradient(to right,#b8a9a9  25%, white 25%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-img{
  border-radius:40%;
  border-style: solid;
  margin-left: 20%;
  margin-top: 15%;
}

.Lside{
  width: 20%;
  text-align: start;
  padding-left: 2.5%;
  word-wrap: break-word;
}

a{
  text-decoration: none;
  font-size: 10px;
  color: #008080;
}

.Lside > h2{
  margin-left: 0%;
  width: 90%;
}

.Lside > h4{
 padding-left: 15%;
 width: 90%;
}

.social{
  float: left;
}

.Rside{
font-size: 20px;
margin-left: 30%;
margin-top: -1200px;
}

.Rside > ul{
width: 90%;
}

.Rside > p{
width: 90%;
}

.Introduction{
margin-left: -7.2%;
background: #32353b;
padding: 50px;
padding-top: 500px;
color: white;
word-wrap: break-word;
}

h1{
  font-size: 50px;
  margin: 0;
}


h2{
  font-size: 20px;
  margin-left: 10%;
  text-align: left;
}

.Rside > h2{
  margin-left: 0%;
  width: 90%;
}

h3{
  font-size: 20px;
  color: #009cff;
}

h4{
  font-size: 13px;
  font-weight: lighter;
}

p{
  font-size: 15px;
}

li{
  font-size: 15px;
}

a:hover{
  background-color: white;
}
